@media only screen and (max-width: 768px) {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

  /*
    =============== 
    Variables
    ===============
    */

  :root {
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --ff-primary: 'Montserrat';
  }

  html {
    width: 100%;
  }

  *,
  ::after,
  ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    width: auto;
    /* color: #001A00; */
  }

  h1,
  h2,
  h3,
  h4 {
    text-transform: uppercase;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
  }

  nav {
    display: flex;
    align-items: center;
  }
  .nav-toggle {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
  }

  .logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
  }
  .brand-logo {
    width: 60%;
  }
  

  nav>ul {
    list-style-type: none;

  }

  .links a {
    font-size: 1rem;
    text-transform: capitalize;
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
  }

  .links {
    display: none;
  }

  .show-links {
    height: 10rem;
  }


  header {
    height: 100vh;
    background: url('./images/hero.png');
    background-position: center;
    background-size: cover;
  }

  .hero {
    display: block;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: auto;
  }

  .hero-image img {
    display: none;
  }

  .hero-text h1 {
    font-size: 80px;
  }

  /* About section */
  .about-us {
    display: block;
    justify-content: center;
    background: linear-gradient(109.38deg, #D1F6D0 3.94%, #A4D7FA 87.18%);
    border-radius: 10px;
    padding: 1%;
    
  }

  .our-mission img,
  .about-us img {
    max-width: 90%;
  }

  .about-us,
  .our-mission,
  .latest-news h2 {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
  }

  .about-us article {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    /* font-size: 20px; */
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000000;
    margin: 0px 10px 10px 0px;
  }

  .about-us div {
    padding-left: 5%;
  }

  /* our mission */
  .our-mission {
    display: block;
    justify-content: center;
    padding: 1%;
  }

  h2 {
    font-size: 36px;
    line-height: 44px;
  }

  .our-mission ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000000;
    padding-bottom: 3%;
    margin: 0px 10px 10px 0px;
  }
 
  .our-mission div {
    padding-left: 5%;
  }

  .latest-news {
    display: flex;
    justify-content: center;
    background: linear-gradient(109.38deg, #D1F6D0 3.94%, #A4D7FA 87.18%);
    border-radius: 10px;
    padding: 4%;
  }

  .latest-news h2 {
    text-align: center;
  }

  .latest-news .cards {
    display: block;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
    padding: 3%;

  }

  .card {
    margin-bottom: 3em;
  }

  .latest-news .card {
    overflow: hidden;
    max-width: 100%;
  }


  .latest-news .card .text-box {
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2%;
  }

  .img-container img {
    width: 100%;
  }

  .arrowdown {
    display: flex;
    justify-content: center;
    visibility: visible;
    padding: 0;
    margin: 0;

  }

  .arrowdown img {
    height: 30vh;
  }

  /* footer style */
  footer {
    display: block;
    height: auto;
    background: #000000;
    color: white;
    padding: 20px;
    width: auto;

  }

  .quick-links {
    width: 100%;
  }

  .get-in-touch {
    width: 100%;
  }





}