@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --ff-primary: 'Montserrat';
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  /* color: #001A00; */
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

nav>ul {
  list-style-type: none;

}

.links {
  display: flex;
  height: auto;
}

.links a {
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

header {
  height: 100vh;
  background: url('./images/hero.png');
  background-position: center;
  background-size: cover;
}

header nav {
  width: 90%;
  margin: auto;
}

.hero {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}

.hero-image img {
  width: 500px;
  height: auto;
}

.hero-text h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 128px;
  line-height: 156px;
  margin-bottom: 0;
}

.hero-text h3 {
  text-transform: capitalize;
  font-weight: lighter;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
}

button {
  text-transform: capitalize;
  line-height: 1.25;
  margin-top: 0.75rem;
  font-family: var(--ff-primary);
  padding: 0.60rem;
  background: #024301;
  border-radius: 4px;
  border: #024301;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}

/* About section */
.about-us {
  display: flex;
  justify-content: center;
  background: linear-gradient(109.38deg, #D1F6D0 3.94%, #A4D7FA 87.18%);
  border-radius: 10px;
  padding: 8%;
}

.about-us,
.our-mission,
.latest-news h2 {
  font-size: 36px;
  line-height: 44px;
}

.about-us article {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #000000;
}

.about-us div {
  padding-left: 5%;
}

.our-mission {
  display: flex;
  justify-content: center;
  padding: 8%;
}

h2 {
  font-size: 36px;
  line-height: 44px;
}

.our-mission ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #000000;
  padding-bottom: 3%;
}

.our-mission div {
  padding-left: 5%;
}

.latest-news {
  display: flex;
  justify-content: center;
  background: linear-gradient(109.38deg, #D1F6D0 3.94%, #A4D7FA 87.18%);
  border-radius: 10px;
  padding: 4%;
}

.latest-news h2 {
  text-align: center;
}

.latest-news .cards {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3%;
}

.latest-news .card {
  overflow: hidden;
  max-width: 30%;
}

.latest-news .card .text-box {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2%;
}

section {
  width: auto;
  margin: 8% 6%;
}

/* footer style */
footer {
  display: flex;
  justify-content: space-around;
  height: 60vh;
  background: #000000;
  color: white;
  padding: 100px;
  width: auto;

}

footer a {
  color: white;
  text-decoration: none;
}

footer img {
  display: inline-block;
}

footer div {
  width: 40%;

}

footer .quick-links a {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

footer .get-in-touch ul {
  width: 70%;
}

footer .get-in-touch ul li {
  list-style: none;
  display: flex;
  align-items: center;
  line-height: 24px;
  margin: 3% 0;
}

footer .get-in-touch span {
  padding-left: 4%;
}

.arrowdown {
  display: none;
}