<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>pyNacos</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="static/images/logo.png" alt="Logo">
            </div>
            <ul>
                <li><a href="">Payments</a></li>
                <li><a href="">Course Material</a></li>
                <li><a href="">Gallery </a></li> 
                <li><a href="">Executives</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>  
    </header>
    <section>
        <div>
            <h1>Nacos</h1>
            <h3>Fountain University, Oshogbo Chapter</h3>
            <p>
                <em>Motto: Towards Advance Technology</em>
            </p>
            <button>
                Latest News
            </button>
        </div>
        <div>
            <img src="" alt="header-dummy">
        </div>
    </section>
    <section class="about-section">
        <h2>ABOUT US</h2>
        <div>
            <img src="" alt="about-img">
        </div>
        <div>
            <article>The Nigerian association of computer science students Fountain University Chapter 
                is an association of vibrant students of the department of computer science Fountain University Oshogbo, 
                aimed at improving the technical and social well being of her members and bridge the gap between the academic 
                environment and computer industry.  
            </article>
        </div>
    </section>
    <section class="our-mission">
        <h2>OUR MISSION</h2>
        <div>
            <article>To Become a network of committed Student IT Professionals determined to stimulate the technology, 
                innovation and entrepreneurship scene in Nigeria.
                To develop a vibrant ecosystem that drives digital inclusion across all tertiary Institutions, Governments, 
                Enterprises and Citizens for the advancement of information technology in Nigeria.
                To Become the most sort after Students Organization in terms of Information Technology and Entrepreneurship.
            </article>
        </div>
        <div>
            <img src="" alt="mission-img">
        </div>
    </section>

    <footer>
        <div>
            <h3>Quick Links</h3>
            <ul>
                <li>Payments</li>
                <li>Course Material</li>
                <li>Gallery</li>
                <li>Executives</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div>
            <h3> Get in Touch</h3>
            <ul>
                <li>ICT Building, Fountain University
                    Oke-Osun, P.M.B. 4491,
                    Osogbo, Osun State,Nigeria
                </li>
                <li>+234 812 3333 375</li>
                <li> contact@nacosfuo.com.ng</li>
            </ul>
        </div>
    </footer>
</body>
</html