<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/responsiveness.css">
    <title>pyNacos</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="static/images/logo.png" alt="Logo">
            </div>
            <ul class="links">
                <li><a href="">Payments</a></li>
                <li><a href="">Course Materials</a></li>
                <li><a href="">Gallery </a></li>
                <li><a href="">Executives</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>
        <div class="hero">
            <div class="hero-text">
                <h1>Nacos</h1>
                <h3>Fountain University, Osogbo Chapter</h3>
                <p>
                    <em>Motto: Towards Advanced Technology</em>
                </p>
                <button>
                    Latest News
                </button>
            </div>
            <div class="hero-image">
                <img src="./static/images/img-1.png" alt="hero-image">
            </div>
        </div>
    </header>

    <section class="about-us">
        <div  class="about-img">
            <img src="./static/images/about_us.png" alt="about-img">
        </div>
        <div>
            <h2>About Us</h2>
            <article>The Nigerian association of computer science students Fountain University Chapter
                is an association of vibrant students of the department of computer science Fountain University Oshogbo,
                aimed at improving the technical and social well being of her members and bridge the gap between the
                academic
                environment and computer industry.
            </article>
        </div>
    </section>
    <div class="arrowdown">
        <img src="./static/images/arrowdown.gif" alt="">
    </div>
    <section class="our-mission">
        <div>
            <h2>Our Mission</h2>
            <ul>
                <li>To Become a network of committed Student IT Professionals determined to stimulate the technology,
                    innovation and entrepreneurship scene in Nigeria.
                </li>
                <li>
                    To develop a vibrant ecosystem that drives digital inclusion across all tertiary Institutions,
                    Governments,
                    Enterprises and Citizens for the advancement of information technology in Nigeria.
                </li>
                <li>
                    To Become the most sort after Students Organization in terms of Information Technology and
                    Entrepreneurship.
                </li>
            </ul>
        </div>
        <div>
            <img src="./static/images/our_mission.png" alt="mission-img">
        </div>
    </section>
    <div class="arrowdown">
        <img src="./static/images/arrowdown.gif" alt="">
    </div>
    <section class="latest-news">
        <div>
            <h2>Latest News</h2>
            <div class="cards">
                <div class="card">
                    <div class="img-container">
                        <img src="./static/images/default.png" alt="">
                    </div>
                    <article> Lorem ipsum dolor sit amet coect adipisicing elit Laudantium pariatur dolorem
                        odio
                        cum voluptatibus quae alias mollitia accusamus aliquid minima.</article>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="./static/images/default.png" alt="">
                    </div>
                    <article> Lorem ipsum dolor sit amet consectetur adipis elit Laudantium pariatur dolorem
                        odio
                        cum voluptatibus quae alias mollitia accusamus aliquid minima. Lorem, ipsum dolor sit amet
                        consectetur adipisicing elit.=</article>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="./static/images/default.png" alt="">
                    </div>
                    <article> Lorem ipsum dolor sit amet consectetur adipisicing Laudantium pariatur dolorem
                        odio
                        cum voluptatibus quae alias mollitia accusamus aliquid minima.</article>
                </div>
            </div>
        </div>

    </section>

    <footer>
        <div class="quick-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="">Payments</a></li>
                <li><a href="">Course Material</a></li>
                <li><a href="">Gallery </a></li>
                <li><a href="">Executives</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
            <div class="logo">
                <img src="static/images/logo.png" alt="Logo">
            </div>
        </div>
        <div class="get-in-touch">
            <h3> Get in Touch</h3>
            <ul>
                <li>
                    <img src="./static/images/location.png" alt="">
                    <span>
                        ICT Building, Fountain University
                        Oke-Osun, P.M.B. 4491,
                        Osogbo, Osun State,Nigeria
                    </span>
                </li>
                <li>
                    <img src="./static/images/phone.png" alt="">
                    <span>
                        <a href="tel:+234 812 3333 375"> +234 812 3333 375</a>
                    </span>
                </li>
                <li>
                    <img src="./static/images/email.png" alt="">
                    <span>
                        <a href="mailto:contact@nacosfuo.com.ng">
                            contact@nacosfuo.com.ng</a>
                    </span>
                </li>
            </ul>

        </div>
    </footer>
</body>

</html
